/*
id 선택자
*/
#grid{
  display:grid;
  grid-template-columns: 180px 1fr;
}
#article{
  padding-left: 25px;
}
/*
class 선택자
.saw{
  color:gray;
}
*/
/*
tag 선택자
*/

.nav__list{
  color: white;
}
a {
  color:rgb(194, 78, 24);
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(208, 236, 130);
  padding: 20px 40px;
  margin: 0;
}
.nav .nav__items{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
}
.nav h1{
  font-size: 45px;
}
.nav a{
  color: rgb(37, 120, 145);
}
div{
  margin: 20px 0px 20px 0px;
}
input{
  margin: 10px 0px 10px 5px;
}
#grid ol{
  border-right: 2px solid orange;
  margin:0;
  padding:20px;
  padding-left:20px;
  list-style: none;
}
body{
  margin:0;
  background-color: rgb(255, 250, 187);
}
p{
  margin-top: 40px;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
